# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Builds
.next/
dist/
build/
.vercel/

# Python junk
*.pkl
__pycache__/
*.pyc

# Env
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
